<div class="w-full flex justify-center h-full items-center">
  <div class="flex flex-col w-80 max-w-80">
      <h1>PORTAL CUM</h1>
      <mat-form-field appearance="outline">
        <mat-label>usuario</mat-label>
        <input matInput [formControl]="form.get('usuario')">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>contraseña</mat-label>
        <input matInput [formControl]="form.get('password')">
      </mat-form-field>

    <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="guardar()">Iniciar Sesion</button>
    <button mat-flat-button [routerLink]="['/registrar']"  >Registrate aquí</button>
  </div>
</div>





<!-- <app-root></app-root> -->
