<div class="flex flex-col mt-0">
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dashboard</mat-icon>
        <span>Ir a Dashboard</span>
      </button>
      <button mat-menu-item>
        <mat-icon>add</mat-icon>
        <span>Ingresar personal</span>
      </button>
      <button mat-menu-item (click)="cerrarSesion()">
        <mat-icon>close</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>
    <span class="font-sans">Personal Existente</span>
    <span class="espacio"></span>
  </mat-toolbar>

  <table>
    <thead>
      <tr>
        <th>Alias</th>
        <th>Nombres</th>
        <th>Apellido</th>
        <th>Rut</th>
      </tr>
    </thead>
    <tbody>
      @for(dato of datos; track dato.id){
      <tr>
        <td>{{dato.Nombres + ' ' + dato.Apellidos}}</td>
        <td>{{dato.Nombres}}</td>
        <td>{{dato.Apellidos}}</td>
        <td>{{dato.RUN + '-' + dato.Verificador}}</td>
      </tr>
      }
    </tbody>
  </table>


</div>
