<div class=" w-full flex justify-center text-purple-950">
    <h1>DASHBOARD CARGOS</h1>
</div>

<div class="bg-gray-50 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="order-first leading-7 font-semibold text-purple-600">Cargo 1</dt>
          <dd class="order-second text-3xl font-semibold tracking-tight text-purple-900 sm:text-5xl">44 million</dd>
        </div>
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="order-first leading-7 font-semibold text-purple-600">Cargo 2</dt>
          <dd class="order-second text-3xl font-semibold tracking-tight text-purple-900 sm:text-5xl">$119 trillion</dd>
        </div>
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="order-first leading-7 font-semibold text-purple-600">Cargo 3</dt>
          <dd class="order-second text-3xl font-semibold tracking-tight text-purple-900 sm:text-5xl">46,000</dd>
        </div>
      </dl>
    </div>
  </div>
  
<div class="w-full flex justify-center h-full">
    <div class="flex flex-col w-150 max-w-150 ">
        <button mat-flat-button [routerLink]="['/persona-existente']">Volver</button>
    </div>
</div>
  